
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: {{ .Release.Name }}-prometheus-stack
spec:
  repo: https://prometheus-community.github.io/helm-charts
  chart: kube-prometheus-stack
  targetNamespace: {{ .Release.Namespace }}
  createNamespace: true
  valuesContent: |-
    grafana:
      enabled: false
    prometheus:
      service:
        type: ClusterIP 
      serviceMonitorSelector: {}
      serviceMonitorNamespaceSelector: 
        any: true

      prometheusSpec:
        serviceMonitorSelectorNilUsesHelmValues: false
        additionalScrapeConfigs:
          - job_name: gpu-metrics
            scrape_interval: 5s
            metrics_path: /metrics
            scheme: http
            kubernetes_sd_configs:
              - role: endpoints
                namespaces:
                  names:
                    - gpu-operator
            relabel_configs:
              - action: replace
                target_label: kubernetes_node
                source_labels:
                  - __meta_kubernetes_pod_node_name 

{{ if .Values.jhubExtResAllocExporterEnabled }}
          - job_name: ext-res
            scrape_interval: 5s
            static_configs:
              - targets: 
                - "ext-res-alloc-exporter.{{ .Release.Namespace }}:80"
            metrics_path: /
{{ end }}


